@import '//registry.npmmirror.com/fc3/latest/files/index.css'
/* for web component */
@import 'toast.styl'
@import 'box.styl'
/* for i18n.site */
@import 'init.styl'
@import '../styl/i18n.site/*.styl'

/* foot */
i-h.F
  width 100%
